@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
* {
    font-family: 'Kufam', cursive;
    text-align: center;
}
h2 {
    color: slateblue;
}
#container {
    width: 50%;
    text-align: center;
    border: 1px solid;
    margin: auto;
}
#income {
    width: 48%;
    min-height: 100px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: steelblue solid;
}
#expense {
    width: 48%;
    min-height: 100px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: steelblue solid;
}
#amount {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 50px;
    height: 30px;
    outline: none;
}
#expensetype {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 50px;
    height: 30px;
    outline: none;
}
#btnAddtransaction {
    margin: 10px 0px 10px 0px;
    background-color: white; 
    color: black; 
    border: 2px solid #3369ff; 
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    height: 50px;  
    transition-duration: 0.4s;
}
#btnAddtransaction:hover {
    color:#FFFFFF;
    background-color:#3369ff;
    border: 5px solid #e7e7e7;
}

#deleteRecord {
    float: left;
    width: 25px;
    height: 25px;
    color: white;
   
    padding: 3px 1px 0px 1px;
    margin-top: -5px;
    background-color: #fa3015; 
    border: none;
    border-bottom: 2px solid white;
    border-radius: 25px;
}

#deleteRecord:hover {
    border: 2px solid #e7e7e7;
}

#record {
    margin: auto;
    margin-top: 10px;
    width: 80%;
    height: 30px;
    text-align: center;
    padding: 20px 5px 5px 5px;
    background-color: gray;
    color: white;
    border-right: 5px solid #2ecc71;
}

@media screen and (max-width: 1166px) {
    #container {
        width: 80%;
    }
}
@media screen and (max-width: 450px) {
    #container {
        width: 90%;
    }
}
@media screen and (max-width: 280px) {
    #container {
        width: 100%;
    }
}